* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  color: #333;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  height: 2rem;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #666;
  text-decoration: none;
}

h1 {
  line-height: 2;
}

ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

footer {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 0.75rem;
}