* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  color: #333;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1200px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #666;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h2 {
  font-size: 1rem;;
}

main {
  height: calc(100vh - 9rem);
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
  font-size: 0.75rem;
}